<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <h1 style="font-weight: bold;">Jane Doe</h1>
  <h3>@janedoe</h3>
  <p style="vertical-align: middle;display: table-cell;">
    <ion-icon name="phone-portrait-outline" size="small" color="primary"
      style="width: 14px;height: 14px;vertical-align: middle;">
    </ion-icon>
  </p>
</ion-content>
