<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <!-- <ion-button color="secondary">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row class="ion-justify-content-center">
        <ion-avatar size="extra-large">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
    </ion-row>
    <ion-row class="ion-justify-content-center profile-user-info">
      <ion-label>@{{username}}</ion-label>
    </ion-row>
    <ion-row class="ion-justify-content-center profile-user-info">
        <ion-label style="font-weight: bold;">{{name}}</ion-label>
    </ion-row>
    <ion-row class="ion-justify-content-center profile-user-info">
        <ion-label>{{email}}</ion-label>
    </ion-row>
  </ion-grid>

  <ion-list class="ion-margin-top">
    <ion-item (click)="goToMyItineraries()">
      <ion-label>My Itineraries</ion-label>
      <ion-icon size="medium" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="goToViewSaved()">
      <ion-label>View Saved Itineraries</ion-label>
      <ion-icon size="medium" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="goToEditProfile()">
      <ion-label>Edit Account Info</ion-label>
      <ion-icon size="medium" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="darkred" id="logout-button" (click)="logoutClick()">Logout</ion-button>

</ion-content>
