<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card [hidden]="hideSendCode">
    <ion-card-header>Input Email to Receive Reset Code</ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-col style = "text-align: center;">
          <ion-row>
            <ion-input placeholder="Enter Email"></ion-input>
            <ion-button color="deepblue" (click)="sendCode()">Send Code</ion-button>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="hideEnterCode">
    <ion-card-header>Enter the code sent to your email</ion-card-header>
    <ion-card-content>
      <ion-grid>
          <ion-row>
            <ion-col style = "text-align: center">
              <ion-button color="deepblue" (click)="resendCode()">Resend Code</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col style = "text-align: center">
                <ion-input placeholder="Enter Code"></ion-input>
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col style = "text-align: center">
              <ion-button color="deepblue" (click)="submitCode()">Submit Code</ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="hideResetPassword">
    <ion-card-header>Enter and confirm your new password</ion-card-header>
    <ion-card-content>
        <ion-row>
            <ion-col style = "text-align: center">
              <ion-input placeholder="Enter New Password"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style = "text-align: center">
              <ion-input #newPassword  placeholder="Confirm New Password"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style = "text-align: center">
              <ion-button (click)="resetPassword(newPassword.value)">Change Password</ion-button>
            </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
