<ion-app>

  <ion-menu side="end" menuId="filter-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Filter Results</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-label>Destination</ion-label>
        <ion-item>
          <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" clearInput/>
        </ion-item>

        <ion-label>Budget</ion-label>
        <ion-item>
          <ion-input [(ngModel)]="budget" clearInput type="number" clearInput value="" placeholder="$100"></ion-input>
        </ion-item>

        <ion-label>Duration</ion-label>
        <ion-item>
          <ion-input [(ngModel)]="duration" clearInput type="number" clearInput value="" placeholder="10 (days)"></ion-input>
        </ion-item>

        <ion-label>Transportation Method</ion-label>
        <ion-item>
          <ion-select [(ngModel)]="transportation" placeholder="Any">
            <ion-select-option value="Car">Car</ion-select-option>
            <ion-select-option value="Train">Train</ion-select-option>
            <ion-select-option value="Plane">Plane</ion-select-option>
            <ion-select-option value="Motorcycle">Motorcycle</ion-select-option>
            <ion-select-option value="Bicycle">Bicycle</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-label>Stay Method</ion-label>
        <ion-item>
          <ion-select [(ngModel)]="accommodation" placeholder="Any">
            <ion-select-option value="Condo">Condo</ion-select-option>
            <ion-select-option value="Hotel">Hotel</ion-select-option>
            <ion-select-option value="Hostel">Hostel</ion-select-option>
            <ion-select-option value="Camp">Camp</ion-select-option>
            <ion-select-option value="None">No Overnight</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col width-100 style="text-align: left">
              <ion-button color="earthygreen" (click)="applyFilter()">Apply</ion-button>
            </ion-col>
            <ion-col width-100 style="text-align: right">
            <ion-button color="darkred" (click)="clearFilter()">Clear</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
