
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

h2 {
  font-family: fantasy;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

.background-image{
  --background: url(/assets/imgs/beach.jpg) no-repeat center center / cover;
}

.card-center{
  width:90%; // adjust width on your ion-card suitable on your screen
  display:block;
  margin: 0 auto;
}

.bg-transparent {
  background: transparent;
  box-shadow:none !important
}

.login-padding {
  padding: 0px 0px 40px 0px;
}

ion-card-content {
  background-color: rgba(0, 0, 0, 0) ;
}