
.background-image{
  --background: url(/assets/imgs/beach-rock.JPG) no-repeat center center / cover;
}

.login-box {
  margin: 6em 1em;
  padding: 1.5em 1.5em;
  background-color: rgba(255, 255, 255, 0.70);
  border-radius: 5px;
}

.input-box {
  border-bottom: 1px solid rgb(99, 99, 99);
  margin-bottom: 10px;
  color: rgb(99, 99, 99);
}
