<body>
  <ion-app>
    <ion-content class="background-image">
      <div class="login-box">
        <img src="../assets/imgs/ruck-logo.png"/>
        
          <div class="input-box">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [(ngModel)]="user_name" placeholder="your@email.com"></ion-input>
          </div>
          <div class="input-box">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="user_password" placeholder="**********"></ion-input>
          </div>
          

        <ion-button (click)="loginClick()" id="login" expand="full" size="large" fill="solid" color="rucksack">
          <ion-icon name="earth-outline" slot="start"></ion-icon>
          Login
        </ion-button><br><br>

        <div class="ion-text-center">
          <ion-button routerLink="/user-forgot-password" expand="block" fill="outline" color="light">Forgot Password?</ion-button>
        </div>

        <div class="ion-text-center">
          <ion-button  routerLink="/user-register" expand="block" fill="outline" color="light">Register</ion-button>
        </div>
      </div>
    </ion-content>
  </ion-app>
</body>
