 <ion-header>
  <ion-toolbar>
    <ion-title>Create Itinerary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Destination</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label>Budget</ion-label>
    <ion-input required="true" clearInput type="number" clearInput value="" placeholder="$100"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Transport Method</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="Car">Car</ion-select-option>
      <ion-select-option value="Train">Train</ion-select-option>
      <ion-select-option value="Plane">Plane</ion-select-option>
      <ion-select-option value="Motorcycle">Motorcycle</ion-select-option>
      <ion-select-option value="Bicycle">Bicycle</ion-select-option>
      <ion-select-option value="Other">Other</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Stay Method</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="Condo">Condo</ion-select-option>
      <ion-select-option value="Hotel">Hotel</ion-select-option>
      <ion-select-option value="Hostel">Hostel</ion-select-option>
      <ion-select-option value="Camp">Camp</ion-select-option>
      <ion-select-option value="None">No Overnight</ion-select-option>
      <ion-select-option value="Other">Other</ion-select-option>
    </ion-select>
  </ion-item>


  <section>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Description</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-textarea spellcheck="true" inputmode="text" color="medium"></ion-textarea>
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <header></header>
    <ion-button color="success" expand="block">Save Itinerary</ion-button>
  </section>

</ion-content>

<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="position: relative">
          <ion-searchbar (ionInput)="search($event)" [value]="selectedAddress"></ion-searchbar>
          <div style="position: absolute; width: 100%; z-index: 999;">
            <ion-list lines="none" *ngIf="addresses.length > 0">
              <ion-item button *ngFor="let address of addresses" (click)="onSelect(address)">
                  {{ address }}
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
