<ion-header>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="create-page">
          <ion-icon color="ruckbrown" name="create-outline"></ion-icon>
          <ion-label color="ruckbrown">Create</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home-page">
        <ion-icon color="ruckbrown" name="home-outline"></ion-icon>
        <ion-label color="ruckbrown">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile-page">
        <ion-icon color="ruckbrown" name="person-outline"></ion-icon>
        <ion-label color="ruckbrown">Profile</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
