<ion-header>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">  
      <ion-tab-button tab="create-page">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label>Create</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="explore-page">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile-page">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
