/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-rucksack: #94887c;
  --ion-color-rucksack-rgb: 148,136,124;
  --ion-color-rucksack-contrast: #000000;
  --ion-color-rucksack-contrast-rgb: 0,0,0;
  --ion-color-rucksack-shade: #82786d;
  --ion-color-rucksack-tint: #9f9489;
}

.ion-color-rucksack {
  --ion-color-base: var(--ion-color-rucksack);
  --ion-color-base-rgb: var(--ion-color-rucksack-rgb);
  --ion-color-contrast: var(--ion-color-rucksack-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rucksack-contrast-rgb);
  --ion-color-shade: var(--ion-color-rucksack-shade);
  --ion-color-tint: var(--ion-color-rucksack-tint);
}

:root {
  --ion-color-earthygreen: #477529;
  --ion-color-earthygreen-rgb: 71,117,41;
  --ion-color-earthygreen-contrast: #ffffff;
  --ion-color-earthygreen-contrast-rgb: 255,255,255;
  --ion-color-earthygreen-shade: #3e6724;
  --ion-color-earthygreen-tint: #59833e;
}

.ion-color-earthygreen {
  --ion-color-base: var(--ion-color-earthygreen);
  --ion-color-base-rgb: var(--ion-color-earthygreen-rgb);
  --ion-color-contrast: var(--ion-color-earthygreen-contrast);
  --ion-color-contrast-rgb: var(--ion-color-earthygreen-contrast-rgb);
  --ion-color-shade: var(--ion-color-earthygreen-shade);
  --ion-color-tint: var(--ion-color-earthygreen-tint);
}

:root {
  --ion-color-darkred: #a71b29;
  --ion-color-darkred-rgb: 167,27,41;
  --ion-color-darkred-contrast: #ffffff;
  --ion-color-darkred-contrast-rgb: 255,255,255;
  --ion-color-darkred-shade: #931824;
  --ion-color-darkred-tint: #b0323e;
}

.ion-color-darkred {
  --ion-color-base: var(--ion-color-darkred);
  --ion-color-base-rgb: var(--ion-color-darkred-rgb);
  --ion-color-contrast: var(--ion-color-darkred-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darkred-contrast-rgb);
  --ion-color-shade: var(--ion-color-darkred-shade);
  --ion-color-tint: var(--ion-color-darkred-tint);
}



.tabs-md .tab-button[aria-selected=true] {
  background: #b2a481 !important;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #b2a481 !important;
}
