<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>

    <ion-buttons slot="end">
      <ion-menu-toggle menu="filter-menu">
				<ion-button>
					<ion-icon color="ruckbrown" name="filter-circle-outline" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-menu-toggle>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-searchbar #simpSearch (keyUp.enter)="simpleSearch(simpSearch.value)" (ionClear)="clearSearch()"> </ion-searchbar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" routerLink="/tabs/home-page">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-segment value="globalfeed" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="globalfeed">
      <ion-label>Global Feed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="places">
      <ion-label>Places</ion-label>
    </ion-segment-button>
    <ion-segment-button value="people">
      <ion-label>People</ion-label>
    </ion-segment-button>
    <ion-segment-button value="titles">
      <ion-label>Titles</ion-label>
    </ion-segment-button>
  </ion-segment>
  <br>

  <div *ngIf="showGlobalFeed" id="gloabalfeed-tab" class="ion-text-center">
    <ion-virtual-scroll [items]="items" approxItemHeight="320px">
      <ion-card *virtualItem="let item; let itemBounds = bounds;" >
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
        <ion-card-subtitle button (click)="goToOtherProfile(item.username)">Creator: {{item.username}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="it-budget-duration-div">
          <label class="ion-float-left ">Budget: ${{ item.budget }} </label>
          <label class="ion-float-right ">Duration: {{ item.duration_magnitude }} {{item.duration_unit}}</label>
        </div>
        <div class="it-chips-div ion-float-left">
          <ion-chip>{{ item.location_tag }}</ion-chip>
          <ion-chip>{{ item.accommodation_tag }}</ion-chip>
          <ion-chip>{{ item.transportation_tag }}</ion-chip>
        </div>
        <div class="it-description-div ion-float-left">
          <ion-item text-wrap style="font-size: 1em">
            {{ item.content }}
          </ion-item>
        </div>
      </ion-card-content>
      </ion-card>
    </ion-virtual-scroll>
  </div>
  <br>
  <div *ngIf="showGlobalFeedNoResults" style="text-align: center;">
    <label>No results.</label>
  </div>

  <div *ngIf="showPlacesTab" id="places-tab" class="ion-text-center">
    <ion-virtual-scroll [items]="placesItems" approxItemHeight="320px">
      <ion-card *virtualItem="let item; let itemBounds = bounds;" >
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="it-budget-duration-div">
          <label class="ion-float-left ">Budget: ${{ item.budget }} </label>
          <label class="ion-float-right ">Duration: {{ item.duration_magnitude }} {{item.duration_unit}}</label>
        </div>
        <div class="it-chips-div ion-float-left">
          <ion-chip>{{ item.location_tag }}</ion-chip>
          <ion-chip>{{ item.accommodation_tag }}</ion-chip>
          <ion-chip>{{ item.transportation_tag }}</ion-chip>
        </div>
        <div class="it-description-div ion-float-left">
          <ion-item text-wrap style="font-size: 1em">
            {{ item.content }}
          </ion-item>
        </div>
      </ion-card-content>
      </ion-card>
    </ion-virtual-scroll>
  </div>
  <br>
  <div *ngIf="showPlacesTabNoResults" style="text-align: center;">
    <label>No results.</label>
  </div>

  <div *ngIf="showPeopleTab" id="people-tab" class="ion-text-center">
    <ion-virtual-scroll [items]="peopleItems" approxItemHeight="320px">
      <ion-card *virtualItem="let item; let itemBounds = bounds;" >
        <ion-card-header>
          <ion-card-title button (click)="goToOtherProfile(item.name)">{{ item.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-virtual-scroll>
  </div>
  <div *ngIf="showPeopleTabNoResults" style="text-align: center;">
    <label>No results.</label>
  </div>

  <div *ngIf="showTitlesTab" id="titles-tab" class="ion-text-center">
    <ion-virtual-scroll [items]="titlesItems" approxItemHeight="320px">
      <ion-card *virtualItem="let item; let itemBounds = bounds;" >
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="it-budget-duration-div">
          <label class="ion-float-left ">Budget: ${{ item.budget }} </label>
          <label class="ion-float-right ">Duration: {{ item.duration_magnitude }} {{item.duration_unit}}</label>
        </div>
        <div class="it-chips-div ion-float-left">
          <ion-chip>{{ item.location_tag }}</ion-chip>
          <ion-chip>{{ item.accommodation_tag }}</ion-chip>
          <ion-chip>{{ item.transportation_tag }}</ion-chip>
        </div>
        <div class="it-description-div ion-float-left">
          <ion-item text-wrap style="font-size: 1em">
            {{ item.content }}
          </ion-item>
        </div>
      </ion-card-content>
      </ion-card>
    </ion-virtual-scroll>
  </div>
  <div *ngIf="showTitlesTabNoResults" style="text-align: center;">
    <label>No results.</label>
  </div>

</ion-content>


