<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle menu="main-menu">
				<ion-button>
					<ion-icon name="menu" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-menu-toggle>
    </ion-buttons>

    <ion-title>Feed</ion-title>

    <ion-buttons slot="end">
      <ion-menu-toggle menu="filter-menu">
				<ion-button>
					<ion-icon name="filter-circle-outline" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-menu-toggle>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" routerLink="/tabs/home-page">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-virtual-scroll [items]="items" approxItemHeight="320px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="it-budget-duration-div">
        <label class="ion-float-left ">Budget: ${{ item.budget }} </label>
        <label class="ion-float-right ">Duration: {{ item.duration_magnitude }}</label>
      </div>
      <div class="it-chips-div ion-float-left">
        <ion-chip>{{ item.location_tag }}</ion-chip>
        <ion-chip>{{ item.accommodation_tag }}</ion-chip>
        <ion-chip>{{ item.transportation_tag }}</ion-chip>
      </div>
      <div class="it-description-div ion-float-left">
        <ion-item text-wrap style="font-size: 1em">
          {{ item.content }}
        </ion-item>
      </div>
    </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>

</ion-content>


