.it-budget-duration-div {
    width: 100%;
    margin: 8px 0px;
    font-size: 1em;
    font-weight: bold;
}

.it-chips-div {
    margin: 16px 0px 16px 0px;
}

.it-description-div {
    background-color: #e7d8c9;
    text-align: left;
    font-size: 1em;
    padding: 5px 10px;
    margin: 0px 0px 16px 0px;
    width: 100%;
    border-radius: 5px;
}

ion-card-subtitle {
    padding: 10px 0px;
}

ion-card {
    background-color: var(--ion-color-primary-tint);
    color: black;
}

ion-segment {
    // font-size: 10px !important;
    width: 100% !important;
}

ion-card-title {
    text-align: left;
    width: 100%;
}

ion-card-subtitle {
    text-align: left;
    width: 100%;
}