<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>

    <!--Just add these 3 lines to any HTML page and it will have the same menu set up-->
    <!--We can add different menus for when you're logged in vs. out as well in app.component.html-->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" routerLink="/tabs/home-page">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-virtual-scroll [items]="items" approxItemHeight="320px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="it-budget-duration-div">
        <label class="ion-float-left ">Budget: ${{ item.budget }} </label>
        <label class="ion-float-right ">Duration: {{ item.duration_magnitude }}</label>
      </div>
      <div class="it-chips-div ion-float-left">
        <ion-chip>{{ item.location_tag }}</ion-chip>
        <ion-chip>{{ item.accommodation_tag }}</ion-chip>
        <ion-chip>{{ item.transportation_tag }}</ion-chip>
      </div>
      <div class="it-description-div ion-float-left">
        {{ item.content }}
      </div>
    </ion-card-content>
    </ion-card>
  </ion-virtual-scroll>

</ion-content>


